[submodule "sam2-main"]
	path = sam2-main
	url = https://github.com/facebookresearch/sam2.git
[submodule "IOPaint"]
	path = IOPaint
	url = https://github.com/Sanster/IOPaint.git
	ignore = untracked
[submodule "Real-ESRGAN"]
	path = Real-ESRGAN
	url = https://github.com/xinntao/Real-ESRGAN.git
